.derecha {
  text-align: right !important;
}

.centrado {
  text-align: center; !important
  max-width: 80%;
  //margin: 0 auto;
  display: inline-block;
  white-space: normal;
}

.separador {
    text-align: right;
    font-size: 1.2em;
    margin: 1em 0;
}

p {
  text-align: justify;
  hyphens: auto;
  -epub-hyphens: auto;
  text-indent: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
}

// french indent details
h1 + p, h2 + p, h3 + p {
  text-indent: 0;
}

.no-indent p {
  text-indent: 0 !important;
}

.yes-margin p {
  margin-top: 0.8em !important;
  margin-bottom: 0.8em !important;
}

//______________


// solarpunk color palette

/* SCSS HEX */
$olive-leaf: #5d6533ff;
$forest-moss: #697a33ff;
$golden-sand: #b6b65eff;
$tuscan-sun: #efc668ff;
$sand: #b29c63ff;
$dark-walnut: #5c311eff;
$rusty-spice: #b84c1dff;
$chocolate: #cd672eff;
$cloudy-sky: #588fd0ff;
$baltic-blue: #386290ff;

/* SCSS HSL */
$olive-leaf: hsla(70, 33%, 30%, 1);
$forest-moss: hsla(74, 41%, 34%, 1);
$golden-sand: hsla(60, 38%, 54%, 1);
$tuscan-sun: hsla(42, 81%, 67%, 1);
$sand: hsla(43, 34%, 54%, 1);
$dark-walnut: hsla(18, 51%, 24%, 1);
$rusty-spice: hsla(18, 73%, 42%, 1);
$chocolate: hsla(22, 63%, 49%, 1);
$cloudy-sky: hsla(213, 56%, 58%, 1);
$baltic-blue: hsla(211, 44%, 39%, 1);

/* SCSS RGB */
$olive-leaf: rgba(93, 101, 51, 1);
$forest-moss: rgba(105, 122, 51, 1);
$golden-sand: rgba(182, 182, 94, 1);
$tuscan-sun: rgba(239, 198, 104, 1);
$sand: rgba(178, 156, 99, 1);
$dark-walnut: rgba(92, 49, 30, 1);
$rusty-spice: rgba(184, 76, 29, 1);
$chocolate: rgba(205, 103, 46, 1);
$cloudy-sky: rgba(88, 143, 208, 1);
$baltic-blue: rgba(56, 98, 144, 1);